body{
    font-family: "Roboto", sans-serif;
    background-color: #FFFFFF;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.32em;
}

p,
h1,
h2,
h3,
h4,
h5 {
    margin-top: 0;
    margin-bottom: 0;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

label {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

img {
 display: block;
 max-width: 100%; 
 height: auto;
}

.container {
 width: 100%;
 max-width: 1158px;
 padding: 0 15px;
 margin: 0 auto;
}

/*HEADER*/
.header {
 border-bottom: 1px solid #E7E9FC;
 box-shadow: 0px 1px 6px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16), 0px 2px 1px 0px rgba(46, 47, 66, 0.08);
}

.header-container {
 display: flex;
 align-items: center; 
}

.header-navigation {
 display: flex;
 align-items: center; 
}

.header-nav-item {
color: #2E2F42;
font-weight: 500;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
padding: 24px 0;
display: block;
transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-nav-item:hover,
.header-nav-item:focus {
color: #404bbf;
}
/* logo*/

.header-logo-web {
 color:#4D5AE5;
 font-family: "Raleway", sans-serif;
 font-size: 18px;
 font-weight: 700;
 line-height: 1.17; 
 letter-spacing: 0.03em;
 text-transform: uppercase;
 margin-right: 76px;
}

.header-logo-studio {
 color:#2E2F42; 
}

.current{
    position: relative;
    color: #404BBF;
}

.current::after{
    content: "";
    position: absolute;
    left: 0;
    bottom: -1px;
    border-radius: 2px;
    background: #404BBF;
    height: 4px;
    width: 100%;
}


/* ADDRESS*/

.address {
font-style: normal; 
margin-left: auto;
}

.header-nav-list {
display: flex;
gap: 40px;
}

.address-item {
color:  #434455;
font-family: "Roboto", sans-serif;
font-style: normal;
font-size: 16px;
line-height: 1.50; 
letter-spacing: 0.02em;
display: block;
transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.address-item:hover,
.address-item:focus{
color:#404bbf;
}

.header-adrees-list {
display: flex; 
gap: 40px;
}

/*HERO*/

.hero {
    display: flex;
    background-color: #2E2F42;
    background-image: linear-gradient(rgba(46, 47, 66, 0.70), rgba(46, 47, 66, 0.70)), url(../images/people-office.jpg);
    background-size: cover;
    background-position: center;
   background-repeat: no-repeat;
   width: 100%; 
   max-width: 1158px;
   margin: 0 auto;
   text-align: center;
    height: 600px;
    padding: 188px 15px;
}

.hero-title {
color:#FFF;
text-align: center;
font-size: 56px;
font-weight: 700;
line-height: 1.07; 
letter-spacing: 0.02em;
max-width: 496px;
margin: 0 auto 48px;
}

.hero-btn {
color: #FFF;
background-color: #4d5ae5;
font-family: "Roboto", sans-serif;
font-size: 16px;
font-weight: 500;
line-height: 1.50; 
letter-spacing: 0.04em;
text-align: center;
cursor: pointer;
height: 56px;
border: none;
padding: 16px 32px;
margin: 0 auto;
display: block;
min-width: 169px;
border-radius: 4px;
box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-btn:hover,
.hero-btn:focus{
 background-color:#404BBF;
}

/* BENEFITS*/

.benefits{
padding: 120px 0;
}
.visually-hidden {
 position: absolute;
 width: 1px;
 height: 1px;
 margin: -1px;
 border: 0;
 padding: 0;
 white-space: nowrap;
 clip-path: inset(100%);
 clip: rect(0 0 0 0);
 overflow: hidden;
}

.benefits-list {
 display: flex;
 gap: 24px;
}

.benefits-item {
 display: flex;
 flex-direction: column;   
 flex-basis: calc((100% - 72px) / 4); 

}

.benefits-icon-container{
    border-radius: 4px;
    border: 1px solid #8E8F99;
    background: #F4F4FD;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 112px;
    margin-bottom: 8px;
}

.benefits-icon{
margin-top: 24px;
margin-bottom: 24px;
}

.benefits-subtitle {
color: #2E2F42;
font-size: 20px;
font-weight: 500;
line-height: 1.20; 
letter-spacing: 0.02em;
margin-bottom: 8px;
}

.benefits-item-text {
color:  #434455;
font-size: 16px;
line-height: 1.50; 
letter-spacing: 0.02em;
text-align: start;
}

/*TEAM*/

.team {
 padding: 120px 0;
 background-color: #F4F4FD;
}

.our-team {
 color:#2E2F42;
 text-align: center;
 font-size: 36px;
 font-weight: 700;
 line-height: 1.11; /* 111.111% */
 letter-spacing: 0.02em;
 text-transform: capitalize;
 margin-bottom: 72px;
}

.team-list {
 display: flex;
 gap: 24px;
}

.team-list-item {
 background-color: #ffffff;
 width: calc((100% - 72px) / 4);
 border-radius: 0px 0px 4px 4px;
 box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16), 0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}

.team-list-container{
padding: 32px 0px;
}

.employees-name {
 color: #2E2F42;
 text-align: center;
 font-size: 20px;
 font-weight: 500;
 line-height: 1.20; /* 120% */
 letter-spacing: 0.02em;
 margin-bottom: 8px;
}

.employees-position {
 background-color: #ffffff;
 color: #434455;
 text-align: center;
 font-size: 16px;
 font-weight: 400;
 line-height: 1.50; /* 150% */
 letter-spacing: 0.02em;
 padding-bottom: 8px;
}

.icon-list {
    display: flex;
    justify-content: center;
    justify-content: center;
    gap: 24px;
    padding: 0 16px;
}
.icon-item {
    width: calc((100% - 72px) / 4);
}

.icon-link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    background-color: #4D5AE5;
    border-radius: 50%;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-link:hover,
.icon-link:focus {
  background-color: #404bbf;
}

.icon-soc {
    fill: #F4F4FD;
}


/*PORTFOLIO*/
.our-portfolio {
 padding: 120px 0;
}

.portfolio {
 color: #2E2F42;
 text-align: center;
 font-size: 36px;
 font-weight: 700;
 line-height: 1.11; /* 111.111% */
 letter-spacing: 0.02em;
 text-transform: capitalize;
 margin-bottom: 72px;
}

.portfolio-item {
 display: flex;
 flex-wrap: wrap;
 gap: 48px 24px;   
}

.portfolio-list {
 width: calc((100% - 48px) / 3);
 border-top: none;
 transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);  
}

.portfolio-card {
    margin: 0;
    position: relative;
    overflow: hidden;
  }

.portfolio-overlay-text {
    color:  #F4F4FD;
    font-size: 16px;
    line-height: 1,50em; /* 150% */
    letter-spacing: 0.02em;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    padding: 40px 32px;
    background-color: #4d5ae5;
    height: 100%;
    width: 100%;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    box-shadow: none;
}

.portfolio-list:hover .portfolio-overlay-text {
    transform: translateY(0);
}

.portfolio-list:hover {
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.porfolio-list:hover .porfolio-text {
    transform: translateY(0%);
}

.portfolio-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}

.portfolio-project-name {
 color: #2E2F42;
 font-size: 20px;
 font-weight: 500;
 line-height: 1.20; /* 120% */
 letter-spacing: 0.02em;
 margin-bottom: 8px;
}

.portfolio-project-using {
color: #434455;
font-size: 16px;
font-weight: 400;
line-height: 1.50; /* 150% */
letter-spacing: 0.02em;
}

/*footter*/
.fotter-box {
    background-color: #2E2F42;
    padding: 100px 0;
}

.footer-container {
    display: flex;
    align-items: baseline;
    
}

.footer-logo-trans {
    margin-right: 120px;  
}

.header-logo-web-footer{
color:  #4D5AE5;
font-family: "Raleway", sans-serif;
font-style: normal;
font-size: 18px;
font-weight: 700;
line-height: 1.17; /* 116.667% */
letter-spacing: 0.03em;
text-transform: uppercase;
display: inline-block;
margin-bottom: 16px;
}

.futer-logo-studio{
 color: #F4F4Fd; 
}

.end-page-text {
 color: #F4F4FD;
 font-size: 16px;
 line-height: 1.50; /* 150% */
 letter-spacing: 0.02em;
 max-width: 264px;
}

.footer-icon-list {
 display: flex;
 gap: 16px;
}

.footer-soc-text-icon {
 color:#FFF;
 font-size: 16px;
 font-weight: 500;
 line-height: 1,50em; 
 letter-spacing: 0.02em;
 margin-bottom: 16px;
}

.footer-icon-link {
 display: flex;
 align-items: center;
 justify-content: center;
 width: 40px;
 height: 40px;
 background-color: #4D5AE5;
 border-radius: 50%;
 transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-icon-link:hover,
.footer-icon-link:focus {
  background-color: #31D0AA;
}

.footer-icon-soc {
 fill: #F4F4FD;
}

.footer-subsct {
    margin-left: 80px;
}

.footer-form-email{
    display: flex;
    gap: 24px;
}
.footer-subsct-item {
    color:#FFF;
 font-size: 16px;
 font-weight: 500;
 line-height: 1,50em; 
 letter-spacing: 0.02em;
 margin-bottom: 16px;
}

.footer-email-input{
    width: 264px;
height: 40px;
padding: 8px 16px;
color: #FFF;
font-size: 12px;
line-height: 2; /* 200% */
letter-spacing: 0.04em;
border-radius: 4px;
background-color: transparent;
border: 1px solid #FFF;
box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
}

.footer-email-input::placeholder {
    color: #FFF;
    font-size: 12px;
    font-weight: 400;
    line-height: 2; 
    letter-spacing: 0.04em;
}

.footer-submit-icon {
    margin-left: 16px;
}

.footer-submit-btn {
    color:  #FFF;
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5; /* 150% */
    letter-spacing: 0.04em;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    min-width: 165px;
    height: 40px;
    border: none;
    border-radius: 4px;
    background-color: #4D5AE5;
}
/*MODAL*/
.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(46, 47, 66, 0.40);
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1); 
}

.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
    width: 100%;
    max-width: 408px;
    min-height: 584px;
    background-color: #FCFCFC;
    border-radius: 4px;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    padding: 72px 24px 24px 24px;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 2px 1px rgba(0, 0, 0, 0.2);
}

.modal-close-btn {
    position: absolute;
    top: 24px;
    right: 24px;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    padding: 0;
    cursor: pointer;
    border: 1px solid rgba(0, 0, 0, 0.10);
    background-color: #e7e9fc;
    display: flex;
    justify-content: center;
    align-items: center; 
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-close-btn:hover,
.modal-close-btn:focus{
    background-color:#404bbf;
    border: none;
}

.modal-close-icon {
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-btn:hover > .modal-close-icon,
.modal-close-btn:focus > .modal-close-icon{
    fill: #FFFFFF;
}

.text {
    line-height: 1.5;
    letter-spacing: 0.02em;
    margin: 0;
  }

.modal-text {
    color: #2E2F42;
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 16px;
}

.modal-form {
    display: flex;
    flex-direction: column;
}

.modal-field {
    margin-bottom: 8px;
}

.modal-label {
    display: block;
    color: #8E8F99;
    font-size: 12px;
    font-weight: 400;
    line-height: 1.17; /* 116.667% */
    letter-spacing: 0.04em;
    margin-bottom: 4px;
}
.modal-input {
    width: 100%;
    height: 40px;
    border-radius: 4px;
    border: 1px solid rgba(46, 47, 66, 0.40);
    background-color: transparent;
    padding-left: 38px;
    outline: transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input:focus {
    border-color: #4D5AE5;
}

.modal-input:focus + .modal-icon {
    fill:#4D5AE5;
}


.modal-input-wrap {
    position: relative;
}

.modal-icon {
    position: absolute;
    left: 16px;
    top: 50%;
    transform: translateY(-50%);
    fill: #2e2f42;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-field-comment{
    margin-bottom: 16px;
}

.modal-textarea {
    width: 100%;
    height: 120px;
    padding: 8px 16px;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    border-radius: 4px;
    color: rgba(46, 47, 66, 0.4);
    background-color: transparent;
    border: 1px solid rgba(46, 47, 66, 0.40);
    outline: transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    resize: none;
}

.modal-textarea:hover,
.modal-textarea:focus {
    border-color: #4D5AE5;
}

.modal-textarea::placeholder {
    color: rgba(46, 47, 66, 0.40);
    font-size: 12px;
}

.check-text {
color: #8E8F99;
font-size: 12px;
line-height: 1.17;
letter-spacing: 0.04em;
}

.check-text a{
color: #4D5AE5;
font-size: 12px;
line-height: 1.17;
letter-spacing: 0.04em;
text-decoration-line: underline;
}

.checkbox-line {
margin-bottom: 24px;
}

.check-text span {
    width: 16px;
height: 16px;
margin-right: 8px;
color: #8E8F99;
line-height: 1.17;
border-radius: 2px;
border: 1px solid rgba(46, 47, 66, 0.40);
display: inline-flex;
align-items: center;
justify-content: center;
fill: transparent;
transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-check:checked + .check-text span {
    background-color: #404bbf;
    border: none;
    fill: #f4f4fd;
}

.modal-btn {
    display: block;
    color: #FFF;
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.50; /* 150% */
    letter-spacing: 0.04em;
    min-width: 169px;
    height: 56px;
    margin: 0 auto;
    border-radius: 4px;
    border: none;
    background-color: #4D5AE5;
    cursor: pointer;
    box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12), 0px 2px 1px 0px rgba(0, 0, 0, 0.20);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


